@import "../abstracts/variables";

.btn{
    display: inline-block;
    font-family: $gruppo;
    font-size: 1.8rem;
    line-height: 1.739rem;
    font-weight: 400;
    padding: 1.5rem 2.201rem 1.6rem 2.29rem;
    background-color: transparent;
    text-transform: uppercase;
    text-align: center;
    
}

.btn-outline{
    color: $white;
    border: 0.1rem solid rgba(255, 255, 255, 0.295743);
    border-radius: 2.4rem;
}
.btn-gradient-blue{
    color: $white;
    background: linear-gradient(180deg, #6378F7 0%, #86A6F8 100%);
    border-radius: 2.4rem;
}
.btn-gradient-pink{
    color: $white;
    background: linear-gradient(180deg, #D05D84 0%, #F19DAF 100%);
    border-radius: 2.4rem;
}

