@import "../abstracts/variables";

.btn{
    display: inline-block;
    font-family: $gruppo;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 1rem 2.201rem .8rem 2.29rem;
    background-color: transparent;
    text-transform: uppercase;
    text-align: center;
    border-radius: 2.4rem;
    
   
}

.btn-outline{
    color: $white;
    border: 0.1rem solid rgba(255, 255, 255, 0.295743);
}
.btn-gradient-blue{
    color: $white;
    background: $btn-gradient-lblue;
    &:hover{
        color: $btn-blue;
        background: $white;
        border: .1rem solid $btn-blue;
    }
}
.btn-gradient-pink{
    color: $white;
    background: $btn-gradient-pink;
    &:hover{
        color: $pink;
        background: $white;
        border: .1rem solid $pink;
    }
}

