$gruppo: "Gruppo", cursive;
$oswald: "Oswald", sans-serif;
$lato: "Lato", sans-serif;

$white: #ffffff;
$blue-gray: #455270;
$bluegray-gradient:linear-gradient(180deg, #455270 0%, #1A253B 100%);
$light-blue-bg: #D7E2FC;
$black: #000000;
$navy-blue: #131B42;
$pink: #DD668C;
$white-op-50: #ffffff50;
$white30: #ffffff3a;
$text-blck: #333333; 
$text-blck-50: #33333380; 
$btn-gradient-pink: linear-gradient(180deg, #D05D84 0%, #F19DAF 100%);
$btn-gradient-lblue:  linear-gradient(180deg, #6378F7 0%, #86A6F8 100%);
$card-bg-blue: #728CF7;
$card-bg-pink: #E17094;
$card-bg-black: #475677;
$card-num-bg-blue: #6479F7;
$btn-blue: #728CF7;
$insta-bg: #68AAF3;
$bg-subscribe-color: #141C2E;
$guide-card-pink: #D15F85;