#header{
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100%;
    .nav-logo{
        width: 20rem;
        height: 6rem;
    }

    
        
}
@media screen and (min-width: 768px) {
    .nav-container{
        justify-content: space-between;
    }
    .nav-links__container{
        display: flex;
  
    }
    .nav-links{
        color: $white;
        &:hover{
            color: $white-op-50;
        }
    }

    .btn-container{
        display: flex;
        .nav-btn__links{
            text-decoration: none;
            color: $white;
            &:hover{
                color: $white-op-50;
            }
        }
    }




}

@media screen and (min-width: 1200px) {
    .nav-logo{
        margin-left: 4.45rem;
        margin-right: 4.45rem;
    }
    .nav-container{
        justify-content: center;
    }
}
