#header{
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100%;
    .nav-logo{
        width: 20rem;
        height: 6rem;
    }

    
        
    .hamburger__container{
        border-radius: 50%;
        margin-top: .8rem;
        border: .1rem solid $white30;
        width: 4.8rem;
        height: 4.8rem;
        .fas{
            font-size: 1.5rem;
            color: $white;
        }

    }
    .hamburger__side-nav__container{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 6rem;
        .hamburger__links a{
            padding: 0.8rem 0.8rem 0.8rem 3.2rem;
            font-size: 1.3rem;
            color: #333333;
            display: block;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            &.deactivate {
                position: absolute;
                top: 0;
                right: 2.5rem;
                font-size: 3.6rem;
                margin-left: 5rem;
              }
        
            &:hover{
            color: #d8d1c4;
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .nav-links__container{
        display: flex;
  
    }
    .nav-links{
        color: $white;
        &:hover{
            color: $white-op-50;
        }
    }

    .btn-container{
        display: flex;
        .nav-btn__links{
            text-decoration: none;
            color: $white;
            &:hover{
                color: $white-op-50;
            }
        }
    }


    .hamburger__container{
      display: none;
    }


}
@media screen and (min-width: 1024px) {
    .nav-logo{
        margin-left: 4.45rem;
    }
}




@media screen and (min-width: 768px){

}
@media screen and (min-width: 1200px){
   
}