#header{
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100%;
    .nav-logo{
        width: 20rem;
        height: 7rem;
        margin-right: 2rem;
    }
}
@media screen and (max-width:766px){
    .menu-container{
        display: block;
        position: absolute;
        top: 5rem;
        right: 5rem;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
      
        }
        #menu{
        position: absolute;
        width: 25rem;
        margin: -100px 0 0 0;
        padding: 3rem;
        padding-top: 12rem;
        right: -100px;
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
    
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        }
        .nav-links{
            text-decoration: none !important;
            color: #232323;
            transition: color 0.3s ease;
            &>li:hover {
                color: $white;
                background-color: $btn-blue;
            }
        }
        .checkbox {
            display: block;
            min-width: 3.8rem;
            height: 3.8rem;
            position: absolute;
            top: -3.5rem;
            left: 2.2rem;
            cursor: pointer;
            opacity: 0;
            z-index: 2;
            -webkit-touch-callout: none;
        }
        .hamburger__container{
            border-radius: 50%;
           border: .1rem solid $white;
           width: 4.8rem;
          height: 4.8rem;
          top: -3.5rem;
          right: -2rem;
          position: relative;
        }
        .hamburger__container>span {
            display: block;
          top: 1.2rem;
          left: .8rem;
            width: 3.3rem;
            height: .4rem;
            margin-bottom: .5rem;
            position: relative;
            background: $white;
            border-radius: .5rem;
            z-index: 1;
            transform-origin: 1rem 0;
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
        }
    .hamburger__container>span:first-child {
        transform-origin: 0% 0%;
    }
    .hamburger__container> span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    .menu-container input:checked~.hamburger__container>span {
        opacity: 1;
        transform: rotate(-45deg) translate(2px, -4px);
        background: $btn-gradient-pink;
    }
    .menu-container input:checked~.hamburger__container>span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    .menu-container input:checked~.hamburger__container>span:nth-last-child(2) {
        opacity: 1;
        transform: rotate(45deg) translate(-.6rem, -10px);
        background: $btn-gradient-pink;
    }
    #menu {
        position: absolute;
        width: 26rem;
        height: 35rem;
        right: -100px;
        border-radius: 3rem;
        padding: 8rem 7rem 5rem 2rem;
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }
    .menu-container input:checked~#menu {
        transform: scale(1.0, 1.0);
        opacity: 1;
        
    }    
    .nav-container{
        nav{
            display: none;
        }
    }
    .nav-links{
        text-decoration: none;
        color: #232323;
        transition: color 0.5s ease;
        &>li:hover {
            text-align: center;
            color: $white;
            background-color: $btn-blue;
        }
    }
    .nav-btn__links.btn{
        font-family: $lato;
        border-radius: 0;
        text-decoration: none;
        color: $black;
        text-transform: capitalize;
        padding: 0;
        border: none;
        text-align: start;
        &:hover{
            text-align: center;
            color: $white;
            background-color: $btn-blue;
        }
    }
    .btn-container{
        text-align: start;
        
    }
    .nav-links__container{
        margin-bottom: .5rem;
    }
    .nav-container>nav>.nav-links__container>li{
        display: none;

    }
 
}
@media screen and (min-width: 768px) {
  
    .nav-links{
        color: $white;
        padding-top: .8rem;
        &:hover{
            color: $white-op-50;
            background-color: $btn-gradient-pink;
        }
    }
    .btn-container a,.btn{
        text-decoration: none;
        color: $white;
        line-height: -10;
        font-size: 1.5rem;
       padding-top: 1.5rem;
    }

.menu-container>#menu,.checkbox{
    display:none;
}

}




@media screen and (min-width: 992px){
    .btn-container a{
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 1200px){
   
}