//How it works

.guide__cards__container{
   padding: 0;
    .cards{
        max-width: 27rem;
        padding: 3.2rem 3.2rem 3.8rem 3.2rem;
    }
}
.how-it-works__container{
    text-align: center;
    .how-it-works__title{
        color: $white;
    }
}
.how-it-works__description,
.how-it-works__subtitle,
.how-it-works__title{
    margin: 0 auto;
}
.how-it-works__description{
    color: $white;
    width: 25ch;
    margin: 3.2rem auto 6.8rem auto;
    text-align: center;
}
.card__item-number{
    border-radius: 50%;
    
    width: 8rem;
    height: 8rem;
    margin-bottom: 11.4rem;
}
.card__item-number__text{
    color: $white;
}


@media screen and (min-width: 768px){
.guide__cards__container{
    .cards{
        max-width: 29rem;
        margin-right: 2rem;
    }
}
.how-it-works__description{
    width: 40ch;
}

}
@media screen and (min-width: 1200px){
    .guide__cards__container{
    .cards{
        max-width: 27rem;
        &:first-child{
            margin-top: 5rem;
        }
        &:nth-of-type(2){
            margin-top: 15rem;
        }
        &:nth-of-type(3){
            margin-top: -2rem;
        }
        &:last-child{
            margin-top: 10rem;
        }
    }
}
}