@import "../abstracts/variables";


//all
.h5{
    color: $pink;
}
// body,main,#header,#crypto,
// #cryptocurrency,#services,
// #features,#invest,#solutions,
// #howItWorks, #startNow,
// #blog,#subscribe,#footer{
//     max-width:100%; 
//     overflow-x:hidden; 

// }
.cryptocurrency-button, 
.invest-button, 
.services-button,
.crypto-email__submit,
.cards__link,
.nav-links,
.hamburger__icon,
.start-now__sign-up__btn,
.start-now__login__btn,
.article-btn__link,
.subcribe__btn,
.menu-links,
.socmed-icon__links,
.terms-and-policy__links,
.terms-and-policy__links,
.menu-links,
.feature-links{
    text-decoration: none;
}


.crypto-image__img, 
.cryptocurrency-image,
.services__image{
    max-width: 25rem;
}


// .wave-bg-container{
//     position: relative;
// }
// .wave-bg{
//     width: 100%;
//     min-height: 97rem;
//     object-fit: contain;
//     position: absolute;
//     z-index: -1;
    
    
//}
// -------------------- hero ------------------ //
#crypto{
 background: $bluegray-gradient;
width: 100vw;    
}
.crypto-container{
    padding: 0 2.3rem;

}

.crypto-text__container span{
    color: $pink;
}
    .h2{
        width: 8ch;
        hyphens: auto;
        color: $white;
    }
.text-b{
    color: $white;
}
.text-sm{
    color: $white-op-50;
}

    .crypto-email__submit{
        width: 12.2rem;
        height: 4.8rem;
    }


.input-email{
    
    display: flex;
    input{
        width: 100%;
        min-width: 15rem;
        height: 4.8rem;
        border-radius: 2.4rem;
        padding: .9rem 2.4rem .7rem 2.4rem;
        border: .1rem solid #DADADA;
        &:focus{
            outline: none;
        }
    }
}

//--------------cryptocurrency------------------//


.cryptocurrency-text__title{
    width: 6ch;
}


//Services 
.services__image-container{
    width: 8.6rem;
    height: 8.6rem;
    border-radius: 2.4rem;
}

.services-text__title{
    width: 10ch;
}


//features
#features{
    background-color: $light-blue-bg;
}

.features-text__container{
    text-align: center;
}
.features-text__title {
    max-width: 12ch;
    hyphens: auto;
}


   
    .cards{
        border-radius: 2.4rem;
        background-color: $white;
    }
    .card__image-insight,
    .card__image-monitoring,
    .card__image-trading{
        border-top-right-radius: 2.4rem;
        border-top-left-radius: 2.4rem;
    }
    .cards__items{
        .cards{  
            max-width: 33.8rem;
            max-height: 46.4rem;
        }
    }
    
    .card__image-insight{
        background-color: $card-bg-blue;
        padding: 3.2rem 8.7rem 3.2rem 8.7rem;
    }
    .card__image-monitoring{
        background-color: $card-bg-pink;
        padding: 3.2rem 8.7rem 3.2rem 8.7rem;
    }
    .card__image-trading{
        background-color: $card-bg-black;
        padding: 3.2rem 8.7rem 3.2rem 8.7rem;
    }
    .card__image__img{
        width: 100%;
        height: 100%;
        // object-fit: cover;
    }
  
    .cards__text{
        padding: 3.4rem 3.2rem 3.8rem 3.2rem;
    }
  

//invest
#invest{
    background-color:$light-blue-bg;
}

.invest-image__img{
    max-width: 30rem;
    max-height: 31.8rem;
    object-fit: cover;
}
.invest-text__title{
    width: 7ch;
}



// //solution
.solution-container__carousel{
    border-radius: 2.4rem;
    background-color: $white;
}
// .solutions-text__description{
//     width: 38ch;
// }
.icon__container{
    padding: 2.3rem 2.7rem 2.3rem 2.604rem;
    background-color: $card-bg-blue;
    border-radius: 2.4rem;
    width: 7rem;
    height: 7rem;
}
// .icon{
//     width: 1.696rem;
//     height: 2.4rem;
// }

// .solution__carousel__title{
//     width: 5ch;
// }
.carousel-btn{
    text-decoration: none;
}
.solution__carousel__img{
    max-width: 30rem;
    height: 31rem;
}
.carousel-btn__container{

    .carousel-btn{
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        background-color: $light-blue-bg;
        &:hover{
            background-color: $btn-blue;
        }
    }

}





// .solution__carousel__description{
//     width: 40ch;
// }

//How it works

#howItWorks{
    background: $bluegray-gradient;
    .cards{
        padding: 3.2rem 3.2rem 3.8rem 3.2rem;
    }
}
.how-it-works__container{
    text-align: center;
    .how-it-works__title{
        color: $white;
    }
}
.how-it-works__description,
.how-it-works__subtitle,
.how-it-works__title{
    margin: 0 auto;
}
.how-it-works__description{
    color: $white;
    width: 25ch;
    margin: 3.2rem auto 6.8rem auto;
    text-align: center;
}


.card__item-number{
    border-radius: 50%;
    background-color: $card-num-bg-blue;
    width: 8rem;
    height: 8rem;
    margin-bottom: 11.4rem;
}
//  bg color of number container  //
.bg-pink{
    background-color: #D15F85;
}
.bg-gray{
    background-color: #34405D;
}
//--------------------------------//
.card__item-number__text{
    color: $white;
}
.guide__cards__container{
    .cards{
        max-width: 29rem;
    }
}

//start-now css
#start-now{
    background: $bluegray-gradient;
}
.start-now__image{
    max-width: 30rem;
    max-height: 30rem;
}
.start-now__text-title,
.start-now__login__btn{
    color: $white;
}

//Our Blog
#blog{
    background-color: $blue-gray;
    .h3{
        color: $white;
        max-width: 21rem;
    }
}
.cards-article{
    background-color: $white;
    max-width: 30rem;
    border-radius: 2.4rem;
}
.cards-article__image{
   width: 100%;
    object-fit: cover;
    
}

.cards-article__caption{
    
    text-align: center;
    max-width: 10ch;
    margin: 0 auto;
    padding-bottom: 4.6rem;
}
.article-btn__link{
    max-width: 17rem;
}
//subscribe


.subscribe__primary-container{
    
    background-color: $bg-subscribe-color;
    border-radius: 2.4rem;
    
}
.subscribe__text-container{
    padding: 5.6rem 2.8rem 0 1rem;
}
.subscribe__title{
    color: $white;
}
.subcribe__btn{
    width: 100%;
}

//footer


#footer{
background: $blue-gray;
}
.footer__logo-container{
    max-width: 20rem;
    height: 4.8rem;
}
.footer-logo__image{
    width: 100%;
}

    .socmed-icon__links:not(:last-child){
        margin-right: .8rem;
    }
        .socmed-icons__container{
            max-width: 4.8rem;
            max-height: 4.8rem;
            padding: 1.6rem;
            color: $white;
            border-radius: 50%;
        }
    .fab{
        font-size: 1.6rem;
    }
//footer-bar
.footer-bar{
    background-color: #131C2D;
    padding: 4.2rem 2.65rem 3.8rem 2.65rem;
}
.footer-bar__copyrights{
    color: $white-op-50;
}
.terms-and-policy__links,
.menu-links,
.feature-links{
    color: $white;
    &:hover{
        color: $white-op-50;
    }
}




.footer-bar__terms__policy__links-container,
.footer-bar__copyrights{
    margin: 0 auto;
}


//font-colors
//#333333
.cryptocurrency-text__description, 
.invest-text__description, 
.services-text__description,
.features-text__description,
.cards__link,
.solutions-text__description,
.solution__carousel__description{
    color: $text-blck;
}
//33333380
.cards__description{
    color: $text-blck-50;
    margin-bottom: 1.4rem;
}
.text__description{
    color: $text-blck-50;
}








//-------- MIN WIDTH SPACING -----//

@media screen and (min-width: 768px){

//hero
.crypto-image__img{
    max-width: 34rem;
}
.crypto-row{
    flex-wrap: wrap-reverse;

}
.crypto-column{
    order: 1;
}
.crypto-text__container{
    order: 0;
    margin-top: 18.7rem;
}
.cryptocurrency-column{
    order: 0;
    .cryptocurrency-image{
        max-width: 36rem;
        margin-top: -20rem;
    }

}
.cryptocurrency-text__container{
    order: 1;
    .cryptocurrency-text__sub-title{
        padding-top: 10rem;
    }
}

//services
.services-text__container{
    order: 0;
    .h3{
        width: 12ch;
    }
}
.services-image__container{
    order: 1;
    
    .services__image{
        max-width: 40rem;
        
    }
}



//how it works
.guide__cards__container{
    .cards{
        max-width: 25rem;
        &:nth-child(odd){
            margin-right: 3rem;
        }
    }
}

}