@import "../abstracts/variables";

//all
.h5{
    color: $pink;
}



.cryptocurrency-button, 
.invest-button, 
.services-button,
.crypto-email__submit,
.cards__link,
.nav-links,
.hamburger__icon{
    text-decoration: none;
}


.crypto-image__img, 
.cryptocurrency-image,
.services__image{
    max-width: 35rem;
}


// .wave-bg-container{
//     position: relative;
// }
// .wave-bg{
//     width: 100%;
//     min-height: 97rem;
//     object-fit: contain;
//     position: absolute;
//     z-index: -1;
    
    
//}
// -------------------- hero ------------------ //
#crypto{
 background: $bluegray-gradient;
}
.crypto-container{
    padding: 0 2.3rem;

}

.crypto-text span{
    color: $pink;
}
    .h1{
        width: 6ch;
        color: $white;
    }
.text-b{
    color: $white;
}
.text-sm{
    color: $white-op-50;
}

    .crypto-email__submit{
        width: 12.2rem;
        height: 4.8rem;
    }


.input-email{
    width: 19.8rem;
    display: flex;
    input{
        width: 100%;
        min-width: 19.8rem;
        height: 4.8rem;
        border-radius: 2.4rem;
        padding: .9rem 2.4rem .7rem 2.4rem;
        border: .1rem solid #DADADA;
        &:focus{
            outline: none;
        }
    }
}

//--------------cryptocurrency------------------//


.cryptocurrency-text__title{
    width: 6ch;
}


//Services 
.services__image-container{
    width: 8.6rem;
    height: 8.6rem;
    border-radius: 2.4rem;
}

.services-text__title{
    width: 10ch;
}

.bg-blue{
    background-color: $card-bg-blue;
}
.bg-pink{
    background-color: $card-bg-pink;
}

features
#features{
    background-color:$light-blue-bg;
}

.features-text__container{
    text-align: center;
    max-width: 57rem;
}



    //cards
    // .cards{
    //     border-radius: 2.4rem;
    //     background-color: $white;
    // }
    // .card__image-insight,
    // .card__image-monitoring,
    // .card__image-trading{
    //     height: 22.4rem;
    //     border-top-right-radius: 2.4rem;
    //     border-top-left-radius: 2.4rem;
        
    // }

    
    // .card__image-insight{
    //     background-color: $card-bg-blue;
    //     padding: 3.2rem 8.7rem 3.2rem 8.7rem;
    // }
    // .card__image-monitoring{
    //     background-color: $card-bg-pink;
    //     padding: 3.2rem 8.7rem 3.2rem 8.7rem;
    // }
    // .card__image-trading{
    //     background-color: $card-bg-black;
    //     padding: 3.2rem 8.7rem 3.2rem 8.7rem;
    // }
    // .card__image__img{
    //     max-width: 19.6rem;
    //     max-height: 16rem;
    //     object-fit: cover;
        
    // }
    // .cards__text{
    //     padding: 3.4rem 3.2rem 3.8rem 3.2rem;
    // }
    // .cards__text-title{
    //     margin-bottom: 2.4rem;
    // }

//invest
// #invest{
//     background-color:$light-blue-bg;
// }

// // .invest-image__container{
// //     width: 100%;
// //     height: 100%;
// // }
// .invest-image__img{
//     width: 57rem;
//     height: 53.042rem;
//     object-fit: cover;
// }
// .invest-text__title{
//     width: 11ch;
// }



// //solution
// .solution-container__carousel{
//     border-radius: 2.4rem;
//     background-color: $white;
// }
// .solutions-text__description{
//     width: 38ch;
// }
// .icon__container{
//     padding: 2.3rem 2.7rem 2.3rem 2.604rem;
//     background-color: $card-bg-blue;
//     border-radius: 2.4rem;
//     width: 7rem;
//     height: 7rem;
// }
// .icon{
//     width: 1.696rem;
//     height: 2.4rem;
// }

// .solution__carousel__title{
//     width: 5ch;
// }

// .solution__carousel__img{
//     width: 51.8rem;
//     height: 46.8rem;
// }
// .solution__carousel__description{
//     width: 40ch;
// }

//How it works


// //ho it works

// #how-it-works{
//     background: $bluegray-gradient;
//     .cards{
//         padding: 3.2rem 3.2rem 3.8rem 3.2rem;
//     }
// }

// .how-it-works__description,
// .how-it-works__subtitle,
// .how-it-works__title{
//     margin: 0 auto;
// }
// .how-it-works__description{
//     color: $white;
//     width: 44ch;
//     margin: 3.2rem auto 6.8rem auto;
//     text-align: center;
// }
// .how-it-works__title{
//     color: $white;
// }

// .card__item-number{
//     border-radius: 50%;
//     background-color: $card-num-bg-blue;
//     width: 8rem;
//     height: 8rem;
//     margin-bottom: 11.4rem;
// }
// .card__item-number__text{
//     color: $white;
// }


//font-colors
//#333333
.cryptocurrency-text__description, 
.invest-text__description, 
.services-text__description,
.features-text__description,
.cards__link,
.solutions-text__description,
.solution__carousel__description{
    color: $text-blck;
}
//33333380
.cards__description{
    color: $text-blck-50;
    margin-bottom: 1.4rem;
}
.text__description{
    color: $text-blck-50;
}

