.services__image{
    max-width: 35rem;
}

.services-text__title{
    width: 10ch;
}
.services__row-footer.row{
    padding: 0 2.3rem;
}

@media screen and (min-width: 768px){

//services
.services-text__container{
    order: 0;
    .h3{
        width: 12ch;
    }
}
.services-image__container{
    order: 1;
    
    .services__image{
        width: 35rem;
        
    }
}
}
@media screen and (min-width: 1200px){
    .services__image{
        min-width: 57rem;
    }
}