//solution
#solutions{
    background: $blue-gray;
    .container{
        padding-bottom: 5rem;
      
    }
}
.solutions-text__title{
    margin-bottom: 1.9rem;
}

.solutions-text__title,
.solutions-text__description{
    color: $white;
}


.solution-container__carousel.row{
    border-radius: 2.4rem;
    background-color: $white;
   margin: auto 1rem;

    
}


.icon__container{
    padding: 2.3rem 2.7rem 2.3rem 2.604rem;
    background-color: $card-bg-blue;
    border-radius: 2.4rem;
    width: 7rem;
    height: 7rem;
}

.solution__carousel__description{
    width: 28ch;
}


.solution__carousel__img{
    max-width: 30rem;
    height: 31rem;
}






@media screen and (min-width: 576px){
    .solution-primary-row__container{
        margin-top: -30rem;
        z-index: 99;
    }
    
}
@media screen and (min-width: 768px){
    .solution__carousel__description{
        width: 45ch;
    }
    .solution__carousel__img{
        max-width: 34rem;
        height: 34rem;
    }
    
    
    
}
@media screen and (min-width: 1200px){
    .solution-container__carousel.row{
        padding: 5rem 5rem;
        
    }
}