//start-now css
.start-now__image{
    max-width: 30rem;
    max-height: 30rem;
}
.start-now__text-title,
.start-now__login__btn{
    color: $white;
}


@media screen and (min-width: 768px){

}
@media screen and (min-width: 1200px){
   
}

